<template>
    <h1><slot>Greeting message</slot></h1>
</template>

<div style="margin: 30px">
    <audio-analyzer id="analyzer" src="assets/Knight-Rider-Theme-Song.mp3"></audio-analyzer>
    <led-bar id="spectro" numRows="2" height="50" gap="2"></led-bar>
    <led-bar id="left-right" numrows="1" height="25"></led-bar>
    <led-bar id="blinker" numTilesInRow="1", numRows="1", height="200" width="200"></led-bar>
</div>

<style>
    h1 {
        text-align: center;
    }
</style>